# requirements.txt
# Файл для установки необходимых библиотек

# Kafka
confluent-kafka==2.4.0
kafka-python==2.0.2
apache-airflow-providers-apache-kafka

# ClickHouse
clickhouse-connect
airflow-providers-clickhouse
clickhouse-driver
airflow-clickhouse-plugin

# Базы данных
pymongo>=4.5.0,<5.0.0
psycopg2-binary>=2.9.9,<3.0.0

# AWS
boto3
botocore

# Spark
pyspark
py4j
apache-airflow-providers-apache-spark

# Утилиты
python-dotenv